
<!--
<form role="form">
	<div class="box-body">
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="exampleInputFile">File input</label>
			<input type="file" id="exampleInputFile">
			<p class="help-block">Example block-level help text here.</p>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Check me out
			</label>
		</div>
	</div>

	<div class="box-footer">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
-->

{% extends 'base.html' %}
{% load widget_tweaks %}
{% block conteudo %}

<section class="content-header">
	<h1 class="page-header">Novo Cliente</h1>
	<ol class="breadcrumb">
		<li><a href="{% url 'core:home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="{% url 'clientes:lista_clientes' %}"><i class="fa fa-dashboard"></i> clientes</a></li>
		<li><a href="#"><i class="fa fa-dashboard"></i> novo cliente</a></li>
	</ol>
</section>
<!-- Main content -->

<section class="content">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Digite os dados do novo cliente</h3>
		</div>
		<div class="box-body">
			<form role="form" action="" method="POST">
			{% csrf_token %}
				<div class="box-body">
					<div class="form-group">
						<div class="row">

							<div class="col-sm-12">
								<label>Nome Complentos:</label>
								{{ form_cliente.nome|add_class:"form-control" }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">

							<div class="col-sm-4">
								<label>Rg:</label>
								{{ form_cliente.rg|add_class:"form-control" }}
							</div>
							<div class="col-sm-4">
								<label>Cpf:</label>
								{{ form_cliente.cpf|add_class:"form-control" }}
							</div>
							<div class="col-sm-4">
								<label>Telefone:</label>
								{{ form_cliente.fone|add_class:"form-control" }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label>Cep:</label>
								{{ form_cliente.cep|add_class:"form-control" }}
							</div>
							<div class="col-sm-3">
								<label>Logradouro:</label>
								{{ form_cliente.logradouro|add_class:"form-control" }}
							</div>
							<div class="col-sm-3">
								<label>Tipo de Logradouro:</label>
								{{ form_cliente.tipo_logradouro|add_class:"form-control" }}
							</div>
							<div class="col-sm-3">
								<label>Número:</label>
								{{ form_cliente.numero|add_class:"form-control" }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">
								<label>Ponto de Referência:</label>
								{{ form_cliente.ponto_referencia|add_class:"form-control" }}
							</div>
							<div class="col-sm-4">
								<label>Bairro:</label>
								{{ form_cliente.bairro|add_class:"form-control" }}
							</div>
						</div>
					</div>

				</div>

				<div class="box-footer">
					<a href="{% url 'clientes:lista_clientes' %}" class="btn btn-danger">Cancelar</a>
					<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
				</div>
			</form>
		</div><!-- /.box-body -->

	</div><!-- /.box -->

</section><!-- /.content -->
<!-- Default box -->


{% endblock conteudo %}

